.userHome {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card a {
    text-decoration: none;
  }
  
  .card h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #7181ac;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  